.site-layout-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: #E6DBD0;
  border-radius: 8px;
  margin-top: 16px;
  height: 100%;
  box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.1);
}

.site-layout-row {
  display: flex;
  margin-bottom: 4px;
  box-sizing: border-box;
}

.tooltip {
  position: absolute;
  z-index: 1;
  background-color: #000;
  color: #FFF;
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  top: -50%;
}

.tooltip-swatch {
  height: 12px;
  width: 12px;
  border: 1px solid #FFF;
  margin-right: 4px;
  border-radius: 4px;
}
