.app {
  display: flex;
  margin: 16px 16px 0;
  height: 100%;  
}

.form {
  background-color: var(--background-secondary);
  flex: 3;
  padding: 16px;
  margin-right: 16px;
  border-radius: 16px;
  box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 16px;
  max-height: calc(100vh - 32px);
}

@media screen and (max-width: 900px) {
  .app {
    flex-direction: column;
  }

  .form {
    position: static;
    margin-right: 0;
    margin-bottom: 16px;
  }
}
